</div>

<script src="/app/movieBase.js"></script>
<script src="/app/directives.js"></script>
<script src="/masterHeader/headerController.js"></script>
<script src="/searchMov/movieSearchController.js"></script>

</body>

</html>
