<% include ../master/siteHeader %>
    <div class="container">
        <div class="col-lg-12">
            <span>Result of signup: </span>
            <span><%=resultText %></span>
        </div>
    </div>

    <% include ../master/siteFooter %>
